.bannerImage {
  width: 100%;
  display: block;
}

.articleContainer {
  max-width: 72rem;
  margin: 8rem auto;

  .articleContent {
    padding-right: 0.5rem;
    font-size: 1.8rem;
    font-weight: normal;
    color: var(--gray-200);

    h2 {
      font-size: 3.6rem;
      font-weight: bold;
      color: var(--gray-050);
      margin: 5rem 0;
    }

    a {
      text-decoration: none;
      color: var(--pink-400);
    }
  }
}

.editedArticle {
  margin-top: 1.6rem;
  color: var(--gray-400);
  font-size: 1.4rem;
  font-style: italic;
}

.offArticleContainer {
  padding-top: 4.8rem;
  border: 0;
  border-top: 1px solid rgba(215, 215, 215, 0.1);

  .linksContainer {
    display: flex;
    justify-content: space-between;

    div {
      width: 100%;
    }

    .nextPostLink {
      text-align: right;
    }

    h2 {
      font-size: 1.8rem;
      font-weight: 400;
    }

    a {
      color: var(--pink-400);
      font-size: 1.6rem;
      text-decoration: none;
      font-weight: 600;
    }

  }


}
